.btnGloble {
  @apply bg-red-500 text-white  h-auto duration-500 transition-all;
}

.btnGloble:hover {
  background-color: white;
  border-color: red !important;
}

.btnGloble:hover span {
  color: rgb(255, 0, 0.5);
}

.btnGlobleDesktop {
  @apply px-5 py-3 text-lg;
}

.btnGlobleTablet {
  @apply px-4 py-2 text-base;
}

.btnGlobleMobile {
  @apply px-3 py-1 text-base;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
/*table*/
.horizontal-scroll-except-first-column>table>*>tr>th:first-child,
.horizontal-scroll-except-first-column>table>*>tr>td:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
    background-color: white;
    font-weight: bold;
}
.horizontal-scroll-except-first-column>table>*>tr>th:last-child,
.horizontal-scroll-except-first-column>table>*>tr>td:last-child {
    position: sticky;
    right: 0;
    z-index: 2;
    background-color: white;
    font-weight: bold;
}